// Light
$primary-color: rgba(240, 247, 255, 1);
$secondary-color: rgba(255, 255, 255, 1);
$btn-color: rgba(64, 142, 186, 1);
$text-color-primary: rgb(64, 64, 64);
$text-color-secondary: rgb(150, 150, 150);
$shadow-color: rgba(17, 21, 23, 0.142);


