$screen-s-limit: 320px;
$screen-sm-limit: 576px;
$screen-md-limit: 768px;
$screen-lg-limit: 1024px;

@mixin apply-at-s-size {
  @media (max-width: $screen-s-limit) {
    @content;
  }
}

@mixin apply-at-sm-size {
  @media (max-width: $screen-sm-limit) {
    @content;
  }
}

@mixin apply-at-md-size {
  @media (max-width: $screen-md-limit) {
    @content;
  }
}
@mixin apply-at-lg-size {
  @media (min-width: $screen-lg-limit) {
    @content;
  }
}
